.cards_item_pic-wrap {
    display: grid;
    grid-gap: 10px;
    grid-auto-rows: minmax(px, auto);
    
}
.cards{
    background-color: rgb(38, 37, 87);
}
button {
    padding: 8px 20px;
    border-radius: 3px;
    outline: none;
    border: none;
    cursor: pointer;
    background-color: black
    
} 
.reservas{
    margin-top: 30px;
    margin-bottom: 5px;
    background-color: var(--primary);
    padding: 12px;
    font-size: 20px;
    position: center;
    
}

.card {
    background-color:rgb(71, 70, 112)
}
.btn-mobile{
    margin: 2px;
    padding: 14px;
}