h1 {
    color:white
}

.cards__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
    
    
}
.cards{
    background-color: rgb(70, 61, 61);
}

.cards__item {
    background-color: white;
}
