h1 {
    color:white
}

.cards__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
    
    
}

.card-experiences{
    background-color: rgb(38, 37, 87);
}
.cards__item {
    background-color: white;
}
